[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
ipython = "*"
langchain = "*"
langchain-openai = "*"
openai = "*"
dotenv = "*"
langchain-ollama = "*"
langchain-groq = "*"
langchain-community = "*"
wikipedia = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
